<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIMSO | UNAMA</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="split-screen">
        <div class="left">
            <div class="mascot-login">
                <img src="/img/illustration2.png" alt="Mascot">
            </div>
        </div>
        <div class="right">
            <div class="form-container">
                <h2>Log In</h2>
                <div class="button-container">
                    <div id="btn"></div>
                    <button id="guru-btn" type="button" class="toggle-btn">Guru</button>
                    <button id="siswa-btn" type="button" class="toggle-btn">Siswa</button>
                </div>
                <form id="guru" class="form-group" action="">
                    <div class="input-group">
                        <input name="email" class="form-input" type="email" required autofocus>
                        <span></span>
                        <label class="input-label" for="email">Email</label>
                    </div>
                    
                    <div class="input-group">
                        <input name="password" class="form-input" type="password" required autofocus>
                        <span></span>
                        <label class="input-label" for="password">Password</label>
                    </div>

                    <div class="submit-container">
                        <button type="submit" class="submit-btn">Login</button>
                    </div>
                    <div class="signup-link">
                        Belum punya akun? <a href="/layout/register.html">Register</a>
                    </div>
                </form>
                <form id="siswa"  class="form-group" action="">
                    <div class="input-group">
                        <input name="email" class="form-input" type="email" required autofocus>
                        <span></span>
                        <label class="input-label" for="email">Email</label>
                    </div>
                    
                    <div class="input-group">
                        <input name="password" class="form-input" type="password" required autofocus>
                        <span></span>
                        <label class="input-label" for="password">Password</label>
                    </div>

                    <div class="submit-container">
                        <button type="submit" class="submit-btn">Login</button>
                    </div>
                    <div class="signup-link">
                        Belum punya akun? <a href="/layout/register.html">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Javascript -->
    <script src="/js/script.js"></script>
    
</body>
</html>